@font-face {
  font-family: "iconfont"; /* Project id 4299098 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1699174089599') format('woff2'),
       url('iconfont.woff?t=1699174089599') format('woff'),
       url('iconfont.ttf?t=1699174089599') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chanpincanshu:before {
  content: "\e601";
}

.icon-wendang:before {
  content: "\e631";
}

.icon-wangpan:before {
  content: "\e655";
}

.icon--strategy:before {
  content: "\e621";
}

.icon-gonggao:before {
  content: "\e64d";
}

.icon-login:before {
  content: "\e654";
}

.icon-guanbi:before {
  content: "\eaf2";
}

.icon-caidan:before {
  content: "\e663";
}

.icon-zan:before {
  content: "\e60b";
}

.icon-moduanzuoyouzhankai:before {
  content: "\eb10";
}

.icon-shousuo:before {
  content: "\e684";
}

.icon-JC_054:before {
  content: "\e660";
}

.icon-zan-copy:before {
  content: "\eb11";
}

.icon-weixin:before {
  content: "\e630";
}

.icon-xiangyou-copy:before {
  content: "\e860";
}

.icon-xiangyou-copy-copy:before {
  content: "\e861";
}

.icon-xiangyou:before {
  content: "\e62d";
}

.icon-xiangyou-white:before {
  content: "\e85f";
}

.icon-xiangxia1:before {
  content: "\e85d";
}

.icon-sanjiao:before {
  content: "\e719";
}

.icon-xiangxia-copy:before {
  content: "\e85e";
}

.icon-xiangxia:before {
  content: "\e600";
}

