.w-e-toolbar {
  max-width: 1200px;
  margin: 0 auto;
  background-color: transparent !important;
}

.w-e-text-container {
  max-width: 980px;
  margin: 0 auto;
}

.el-drawer__header {
  margin-bottom: 0 !important;
}

.w-e-toolbar .w-e-bar-item:last-child .w-e-menu-tooltip-v5 {
  display: none;
}

.w-e-toolbar .w-e-bar-item:nth-child(26) {
  display: none;
}

.w-e-bar-divider {
  background-color: transparent !important;
}
