// 统一样式的风格
@import "normalize.css";
@import "//at.alicdn.com/t/c/font_4299098_hhhaqsudg8m.css";
// 不需导入了，在nuxt.config中已经配置自动导入
// @import "@/assets/css/variables.scss";
//全局样式
.wrapper {
  width: $contentWidth;
  margin: 0 auto;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  transition-duration: 0.3s;
  font-size: 100px;
  //background-image: url(/images/wallhaven-kxj3l1_1920x1080.png);
}
/* 在媒体查询中根据屏幕宽度来调整根字体大小 */
@media screen and (max-width: 768px) {
  html {
    font-size: 80px; /* 当屏幕宽度小于等于768px时，根字体大小为80px */
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 90px; /* 当屏幕宽度大于768px且小于等于1024px时，根字体大小为90px */
  }
}
@media screen and (min-width: 1025px) {
  html {
    font-size: 85px; /* 当屏幕宽度大于1024px时，根字体大小为110px */
  }
}
body {
  font-size: 14px;
  color: #333;
  font-family: OPPOSans2, PingFang SC, Microsoft YaHei, Helvetica Neue,
    Helvetica, Arial, sans-serif;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
